TURSO_DATABASE_URL=libsql://toylandia-goldengraphixstudios.aws-ap-northeast-1.turso.io
TURSO_AUTH_TOKEN=

CMS_ADMIN_EMAIL=admin@toylandia.com
CMS_ADMIN_PASSWORD=ToyLandiaCMS!2026
CMS_SESSION_SECRET=replace-with-a-long-random-secret
